.shortcut-page {
  position: relative;
  height: 100vh;
  background-color: #fff;
  padding: 32px;
}

.shortcut-title {
  position: absolute;
  top: 18px;
  left: 32px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #1a1b1c;
}

.diamond-options {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 48px;
}

.diamond-btn {
  width: 580px;
  height: 180px;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.diamond-btn:hover {
  border-color: #333;
}

.diamond-btn img {
  transform: rotate(-45deg);
  width: 500px;
  height: 500px;
  margin-bottom: 12px;
}

.diamond-btn span {
  transform: rotate(-45deg);
  font-size: 12px;
  text-align: center;
  color: #1a1b1c;
  text-transform: uppercase;
  width: 120px;
}

.camera-modal-box {
  position: absolute;
  left: 450px;
  top: 242px;
  width: 100%;
  height: 100%;
}

.camera-modal-content {
  width: 352px;
  height: 136px;
  background-color: #1a1b1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camera-modal-content p {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.camera-modal-divider {
  width: 110%;
  height: 1px;
  background-color: white;
  margin-top: 20px;
}

.camera-modal-buttons {
  position: relative;
  top: 20px;
  left: 80px;
  display: flex;
  gap: 14px;
}

.camera-modal-buttons button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

.camera-modal-buttons button:hover {
  background-color: white;
  color: #1a1b1c;
}

.image-preview {
  position: absolute; /* or use flex/grid depending on layout */
  right: 20px;
  top: 100px;
  max-width: 200px;
}

.image-preview img {
  width: 100%;
}

.shortcut-proceed {
  width: 120px;
  display: block;
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: none;
  border: none !important;
  cursor: pointer;
  z-index: 50;
}

.back-btn {
  width: 120px;
  display: block;
  position: fixed;
  bottom: 32px;
  background: none !important;
  cursor: pointer;
  z-index: 50;
}
