html,
body {
  font-family: "roobert", system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
    overflow: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 28px;
  position: relative;
  z-index: 1;
}

.brand {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 0.06em;
}

.brand__name {
  position: static;
  width: 69px;
  height: 16px;
  left: 32px;
  top: 23px;
  font-family: "Roobert TRIAL", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background: none;
  opacity: 1;
}

.brand__meta {
  font-family: "Roobert TRIAL", sans-serif;
  font-weight: 600;
  margin-left: 10px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #737373;
  opacity: 0.7;
  width: 41px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.brand__paren {
  width: 4px;
  height: 17px;
  margin: 0 2px;
}

.btn--code {
  padding: 8px 16px;
  gap: 8px;
  background: #1a1b1c;
  border: 1px solid #1a1b1c;
  font-family: "Roobert TRIAL", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fcfcfc;
  opacity: 1;
  cursor: pointer;
  transition: background 160ms ease;
}
.btn--code:hover {
  background: #222;
}

/* HERO */

.hero__title {
  font-size: 128px;
  font-weight: 300;
  letter-spacing: -0.07em;
  font-family: "Roobert TRIAL", sans-serif;
  text-align: center;
  color: #1a1b1c;
  display: flex;
  flex-direction: column;
  transition: transform 1s ease;
}

.slide-left {
  transform: translateX(-300px);
}

.slide-right {
  transform: translateX(300px);
}

.corner-frame.hidden {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.hero-btn {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 10;
}

.hero-btn--left {
  top: 300px;
  left: 32px;
}

.hero-btn--right {
  top: 300px;
  right: 32px;
}

.hero__footnote {
  position: absolute;
  left: 32px;
  width: 316px;
  height: 72px;
  font-family: "Roobert TRIAL", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #1a1b1c;
  text-align: left;
  padding: 0 12px;
}

.corner-frame {
  position: absolute;
}

.corner-frame--left {
  top: 14px;
  left: 0px;
}
.corner-frame--right {
  top: 14px;
  right: 0px;
}
